= simple_form_for [:admin, question] do |f|
  = f.error_notification
  
  = f.input :title
  = f.input :answer
  = f.input :active, as: :boolean
  = f.button :submit, class: "btn btn-primary"
  = link_to "Back", [:admin, :questions]
  
