.questionuestion-card
  %div
    %h4
      Q: 
      = @question.title
      %br
      A:
      = @question.answer
    %br
    %span Status:
    #{@question.active ? "Active" : "Not Active"}
    %br
    %small
      %strong
        Total Answers: 
        .badge
          = @question.answers_count 
        Posted:
        = time_ago_in_words(@question.created_at)
        ago
    .pull-right
      = link_to "Edit", edit_admin_question_path(@question)
      |
      = link_to "Delete", admin_question_path(@question), data: { confirm: "Are you sure?" }, :method => :delete
  = link_to "Back", :back
        