%h4 View Scores
%table.table.table-hover
  - @users.each do |user|
    %tr
      %td
        = user.email
      %td
        = user.answers.corrects.size
        out of
        = Question.active.size
        %strong Questions
= will_paginate @users, renderer: BootstrapPagination::Rails
%br
= link_to "Back", :back
    